.contentWrap {
    margin: 20px 0;
}
.contentInfoWrap {
    margin-left: 30px;
}
.button {
    font-size: 32px;
    border-radius: 3px;
}
.comment {
    border-radius: 3px;
    background-color: rgb(209, 209, 209);
    margin-bottom: 10px;
    padding-left: 15px;
}